    <%- include('./partials/header')%>
    <h1>Home Page</h1>
    <h2><%= disp %></h2>
    <!-- how to use the varaible using ejs -->
    
    <!-- <h2><%= name %></h2> -->

    <!-- how to use the condition in ejs -->

    <!-- <% if(name){ %>
        <h1>hello welcome to if condition</h1>
    <%}else{%>
        <h1>This is a else condition</h1>
        <%}%> -->

     <!-- loops  -->
     <!-- while loop -->

     <!-- <% let i=0; %>
     <% while (i<10){ %>
        <h5>This is while loop</h5>
        <% i++; %>
     <%}%>    -->
    
    <!-- for loops  -->
    <% for(let i=0;i<=5;i++){ %>
        <h4>This is for loop</h4>
    <% } %>    

<%- include('./partials/footer')%>